.centerBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 100%;
    height: 100vh ;
    padding: 6rem 4rem 0;
    background-image: url(/assets/images/pic4.jpg);
    /* background-color: rgb(89, 0, 255); */
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    gap: 2rem;
    overflow: hidden;
    z-index: 500;
}

.game h1{
    font-family: var(--font-heading);
    font-size: var(--font-32px);
    color: var(--font-color-black);
    text-align: right;
    white-space: nowrap;
    padding-right: 19rem;
    margin: 1rem;
}

.game-console{
    width: 75%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    /* background-color: bisque; */
}

.game-console-box{
    width: 100%;
    height: 42%;
    column-gap: 2rem;
    border-radius: 2rem;
    padding: 1.5em;
    background-color: var(--bg-box-trspt);
    backdrop-filter: blur(2rem);
}

.game-console-box-info{
    width: calc(100% / 3);
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
h2{
    flex: 0 0 auto;
    font-family: var(--font-paragraph);
    font-size: var(--font-16px);
    font-weight: var(--font-mid);
    font-style: var(--font-normal);
    text-align: center;
    white-space: nowrap;
    margin: 0.5rem;
}

.game-console-box-info p{
    font-family: var(--font-paragraph);
    font-size: var(--font-14px);
    font-weight: var(--font-mid);
    flex: 1;
    width: 100%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    background-color:var(--bg-box-trspt);
}

.game-console-box-info:nth-of-type(1) p{
    font-size: var(--font-100px);
    font-weight: var(--font-bold);
    
}

.game-console-box-info-timer p
{
    font-size: var(--font-40px);
    font-weight: var(--font-bold);
    
}
.game-console-box-info-timer{
    visibility: visible;
}

.game-console-box-mode {
    width: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 4.6rem;
    position: relative;
}

.game-console-box-mode-userInput{
    width: 22rem;
    height: 9rem;
    font-family: var(--font-paragraph);
    font-size: var(--font-12px);
    border: 2px solid var(--bg-color-gray);
    border-radius: 1.5rem;
    position: absolute;
    top: 90%;
    left: 10;
    background-color: var(--bg-color-white);
    z-index: 100;
    display: block;
}

.game-console-box-mode-userInput span{
    display: block;
    float: left;
    width: 5rem;
    text-align: center;
    background-color: var(--bg-color-gray);
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    border-radius: 3rem;
    transition: var(--trns-effect);
}

.chance{
    display: none;
}

.game-console-box-mode-userInput span:hover{
    background-color: var(--bg-color-darkgray);
    color: var(--font-color-white);
}

.game-console-box-mode  button {
    width: calc(60% / 2); 
    height: 8rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trns-effect);
    margin: 1.6rem 0;
}

.game-console-box-mode span{
    display: block;
    font-family: var(--font-paragraph);
    font-size: var(--font-14px);
    font-weight: var(--font-mid);
    transition: var(--trns-effect);
    
}

.game-console-box-mode i{
    width: 100%;
    height: 100%;
    color: var(--font-color-black);
    border-radius: 1rem;
    font-size: var(--font-40px);
    background-color: var(--bg-box-trspt);
   padding-top: 1.6rem;
    transition: var(--trns-effect);
}


.game-console-box-info-btn button{
    width: 13rem;
    height: 5rem;
    font-family: var(--font-paragraph);
    font-size: var(--font-24px);
    font-weight: var(--font-semibold);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    background-color: var(--bg-box-trspt);
    transition: var(--trns-effect);
}

.game-console-box-info-btn button:hover , .game-console-box-mode  button i:hover{
    color: var(--font-color-white);
    background-color: var(--bg-hover-blue);
    transform: scale(1.1);
}

.game-console-input{
    width: 100%;
    height: calc(68% - 14rem);
    border-radius: 2rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: var(--bg-box-trspt);
    backdrop-filter: blur(2rem);
    z-index: 100;
}

.game-console-input-keyboard {
    border-collapse: separate;
    border-spacing: 0.4rem;
    
}

.game-console-input-keyboard td{
    font-family: var(--font-paragraph);
    font-size: var(--font-12px);
    font-weight: var(--font-semibold);
    text-align: center;
    color: var(--font-color-white);
    padding: 0.2rem 2rem;
    border-radius: 0.6rem;
    background-color: var(--bg-hover-blue);
    transition: var(--trns-effect);
    cursor: pointer;
}

.game-console-input-keyboard td:hover{
    background-color: var(--primary-blue);
    color: var(--font-color-white);
    transform: scale(1.3);
    box-shadow: var(--box-shadow);
}

.game-console-input-chance{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    background-color: var(--bg-box-trspt);
    padding: 0 1rem;
    border-radius: 1rem;
}

.game-console-input-chance p{
    width: 3rem;
    height: auto;
    font-weight: var(--font-semibold);
}


.game-score{
    width: calc(100% - 75%);
    height: 86%;
    border-radius: 2rem;
    background-color: var(--bg-box-trspt);
    padding: 0.5rem 0;
    margin-top: 5.5rem;
    overflow: hidden;
    backdrop-filter: blur(2rem);
}

.game-score h2{
    font-family: var(--font-heading);
    font-size: var(--font-20px);
    border-bottom: 2px solid var(--bg-color-gray);
    padding-bottom: 1rem;
}

.game-score table{
    width: 100%;
    height: calc(100% - 4.6rem);
    border-collapse: collapse;
    /* background-color: var(--bg-color-gray); */
}

.game-score table th{
    font-family: var(--font-paragraph);
    font-size: var(--font-14px);border-bottom: 1px solid var(--bg-color-gray);
    text-align: center;
    padding: 1rem 0;
}

.game-score table tr{
    border-bottom: 1px solid var(--bg-color-gray);
}

.game-score table tr:nth-child(even){
    background-color: var(--tspt-primary-blue);
}
.game-score table td{
    width: calc(100% / 4);
    height: calc(100% / 10);
    font-family: var(--font-paragraph);
    font-size: var(--font-14px);
    font-weight: var(--font-mid);
    text-align: center;
}

.game-score table td:nth-child(2){
    max-width: 12rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
